

body::-webkit-scrollbar,.fc-scroller::-webkit-scrollbar,#noti_drop::-webkit-scrollbar{
    width: 5px;
}

body::-webkit-scrollbar-track,.fc-scroller::-webkit-scrollbar-track,#noti_drop::-webkit-scrollbar-track{
    background-color: rgb(133, 133, 133);
}

body::-webkit-scrollbar-thumb,.fc-scroller::-webkit-scrollbar-thumb,#noti_drop::-webkit-scrollbar-thumb{
    background-color: rgb(32, 32, 32,0.5);
}

body::-webkit-scrollbar-track-piece,.fc-scroller::-webkit-scrollbar-track-piece,#noti_drop::-webkit-scrollbar-track-piece{
    background-color: rgb(163, 163, 163);
}

nav{
    /* background-image:
        linear-gradient(80deg, rgb(206, 206, 206), rgba(255, 0, 0, 0), rgb(255, 235, 0,0) 90%),
        linear-gradient(230deg, rgb(233, 232, 111, 0), rgba(255, 195, 128, 0.7), rgb(255, 215, 0, 0) 70%),
        linear-gradient(45deg, rgb(206, 206, 206,0),rgb(166, 180, 218), rgb(211, 245, 229) 90%); */
    background-color:rgb(206, 206, 206) ;
}
.noti {
    animation: rotate 1s infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}


.booking_body tr:nth-child(even){
    background-color: rgb(0,0,0,0.1);
}

.fc-col-header,
.fc-daygrid-body,
.fc-scrollgrid-sync-table,
.fc-timegrid-body,
.fc-timegrid-body table {
    width: 100% !important;
}

.my_booking_card{
    filter: brightness(100%)!important;
    color: white;
}

.text_highlight{
    animation: text_high 0.5s infinite alternate;
}

@keyframes text_high {
    0% {
        color: red;
    }
    50% {
        color: blue;
    }
    100% {
        color: green;
    }
}
