

body::-webkit-scrollbar,.fc-scroller::-webkit-scrollbar,#noti_drop::-webkit-scrollbar,.ch_acc::-webkit-scrollbar{
    width: 5px;
}

body::-webkit-scrollbar-track,.fc-scroller::-webkit-scrollbar-track,#noti_drop::-webkit-scrollbar-track{
    background-color: rgb(133, 133, 133);
}

body::-webkit-scrollbar-thumb,.fc-scroller::-webkit-scrollbar-thumb,#noti_drop::-webkit-scrollbar-thumb{
    background-color: rgb(32, 32, 32,0.5);
}

body::-webkit-scrollbar-track-piece,.fc-scroller::-webkit-scrollbar-track-piece,#noti_drop::-webkit-scrollbar-track-piece{
    background-color: rgb(163, 163, 163);
}



.ch_acc::-webkit-scrollbar-thumb{
    background-color: rgb(253 230 138);
}

nav{
    /* background-image:
        linear-gradient(80deg, rgb(206, 206, 206), rgba(255, 0, 0, 0), rgb(255, 235, 0,0) 90%),
        linear-gradient(230deg, rgb(233, 232, 111, 0), rgba(255, 195, 128, 0.7), rgb(255, 215, 0, 0) 70%),
        linear-gradient(45deg, rgb(206, 206, 206,0),rgb(166, 180, 218), rgb(211, 245, 229) 90%); */
    background-color:rgb(206, 206, 206) ;
}
.noti {
    animation: rotate 1s infinite alternate;
}

@keyframes rotate {
    0% {
        transform: rotate(15deg);
    }
    50% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(-15deg);
    }
}


.booking_body tr:nth-child(even){
    background-color: rgb(0,0,0,0.1);
}

.fc-col-header,
.fc-daygrid-body,
.fc-scrollgrid-sync-table,
.fc-timegrid-body,
.fc-timegrid-body table {
    width: 100% !important;
}

.my_booking_card{
    filter: brightness(100%)!important;
    color: white;
}

.text_highlight{
    animation: text_high 0.5s infinite alternate;
}

@keyframes text_high {
    0% {
        color: red;
    }
    50% {
        color: blue;
    }
    100% {
        color: green;
    }
}

.slide_container{
    position: relative;
    margin-top: 10px;
}

.slide_container > input[type = range]{
    position: absolute;
    pointer-events: none;
    -webkit-appearance: none;
    z-index: 4;
    height: 5px;
    width: 100%;
    opacity: 0;
}

.slide_container > input[type=range]::-webkit-slider-thumb {
    pointer-events: all;
    width: 20px;
    height: 20px;
    border-radius: 0;
    border: 0 none;
    background-color: red;
    cursor: pointer;
    -webkit-appearance: none;
}

.slide_container.exist > input[type=range]::-webkit-slider-thumb{
    pointer-events: none;
}

.slider{
    position: relative;
}

.slider .track{
    position: absolute;
    height: 3px;
    background-color: rgb(160, 160, 160);
    border-radius: 5px;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    z-index: 1;
}

.slider .range{
    position: absolute;
    height: 4px;
    z-index: 2;
    top: 0;
    bottom: 0;
    background-color: rgb(245 158 11);
    right: 0%;
    left: 0%;
    border-radius: 5px;
}

.slider .thumb{
    position: absolute;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    z-index: 3;
    user-select: none;
    background-color: rgb(231, 169, 75);
}

.slider .thumb.left{
    left: 0;
    transform: translate(0,-4px);
}

.slider .thumb.right{
    right: 0;
    transform: translate(0,-4px);

}
